cloud_controller_uri: http://ccng.georg.cf-app.com
api_endpoint: http://api.georg.cf-app.com
api_credentials:
  username: services
  password: service-password
  space: pearl
  organization: pivotal
uaa_client_id: "cf"
uaa_endpoint: http://uaa.georg.cf-app.com
uaa_client_auth_credentials:
  username: services
  password: service-password
cc_api_version: v2
check_orphan_interval: 7200
service_auth_tokens:
  custom-service: "random string service token"
service:
  name: 'random-string-service'
  unique_id: 'random-string-service-1.0'
  version: '1.0'
  description: 'Random String Service'
  provider: pivotal
  plans:
    '10req':
      unique_id: 'random-string-service-1.0-10'
      description: 'Shared service, 10 requests'
      free: true
      extra: '{"cost":0.0,"bullets":[{"content":"10 requests"}]}'
